a:hover, a:focus {color: brown;}
.font-color{color:brown;}
.mainNav .navTabs > li .active{border-bottom: 1px solid brown;}
.mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button {border-bottom: 1px solid brown;}
.skype-bg{background: brown;}
.view-all a:hover i{background: brown;}
.readmore a:hover i{background: brown;}
.Sine-Up button{background: brown;}
.drak-singup button{background:#636a71;color:brown;}
.footer-nav li a:hover{color: brown;}
.social_sharenadea li:hover {background: brown;}
.ftblog_head a:hover {color: brown;}
.go-up:hover {background-color: brown;}
.yellow-bg {background: brown;}
.black-bg {background: brown;}
.drak-singup input{background:brown;}
.nd-featur-icon-holder{background:brown;}
.servicesbox .boxIcon-bg{backgroundbrown;}
.nvbule-bg {background: brown;}
.exserboxsev .servicesbox .boxIcon-bg{background: brown;}
.ndtmappleabout .button-ab:hover{background: brown;}
.pro-count{color: brown;}
.progress .progress-bar{background: brown;}
.accordianShortCode .triggerRow > a.activeLine:before, .accordianShortCode .triggerRow > span.activeLine:before{background-color: brown;}
.accordianShortCode .triggerRow > a:hover{color: brown;}
/*-- Home Pages End --*/
.ndheaderv-1 .font-color {color: brown;}
.headerStyle2 .mainNav .navTabs > li .active{background-color: brown;}
.black-bg {background: brown;}
.ndheaderv-1 .font-color {color: brown;}
.ndheaderv-1 .footer-nav li a:hover {color: brown;}
.headerStyle2 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: brown;}
.ndheaderv-2 .font-color {color: brown;}
.headerStyle3 .mainNav .navTabs > li .active{background-color: brown;}
.headerStyle3 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: brown;}
.headerStyle4 .font-color {color: brown;}
.headerStyle4 .mainNav .navTabs > li .active{background-color: brown;color:#fff;}
.headerStyle4 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: brown;}
.ndheaderv-4 .font-color {color: brown;}
.headerStyle5 .mainNav .navTabs > li .active{background-color: brown;}
.headerStyle5 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: brown;}
.ndheaderv-5 .font-color {color: brown;}
.headerStyle6 .mainNav .navTabs > li .active{border-bottom: 1px solid brown;}
.headerStyle6 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{border-bottom: 1px solid brown;}
/*-- Header Vesion End --*/
.vwsky {color: brown;}
.nderroecon{color: brown;}
/*-- Feature Page end --*/
.ndprojectdt li a:hover {color: brown;}
.tagsec li a:hover {background: brown;}
.ndluch:hover {background: brown;}
.ndporpagination .pager a:hover i {background: brown;}
.widget .nd_tweets_widget li .ndtwitter a:hover {background-color: brown;}
.ndwidget_categories li a:hover {color: brown;}
.seclect-icon{background: brown;}
.ndcontactfm input.submitBnt:hover {background: brown;}
.ndcontactab .button-ab:hover{background: brown;}
.icon-pin-addcon{background: brown;}
.ndsocial-share ul li:hover{background:brown;}