.isotope {
	margin-top: 10px;
}

.folio-inner {
	overflow:hidden;
	background:#fff;
	margin-bottom:25px;
	
}

.folio-filter {
	position: relative;
	bottom: 7px;
	display:table;
	margin:0px 0 25px;
	float:right;
}
	
.folio-filter li {
	display: inline-block;
	font-size:11px;
	font-family:Open sans;
	font-weight:600;
	padding:3px 12px;
	border-right:1px solid #d0d0d0;
	line-height:15px;
	text-transform:uppercase;
}

.folio-filter li:last-child {
	border-right:1px solid #fff;
	padding-right:0px;
 }


.folio-filter li a {
	display: block;
	color: #a4a4a4;
	line-height: 11px;
}
	
.folio-filter li a:hover {
	color: #e66a47;
}
	
	
.folio-filter li a.selected {color:#e66a47;}

.selected {color:#e66a47;}

/* Isotope Transitions
------------------------------- */
.isotope, .isotope .folio-item {-webkit-transition-duration: 0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;}
.isotope {-webkit-transition-property:height,width;-moz-transition-property: height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width;}
.isotope .item {-webkit-transition-property: -webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:top,left,opacity;transition-property:transform, opacity;}

