a:hover, a:focus {color: #7344b0;}
.font-color{color:#7344b0;}
.mainNav .navTabs > li .active{border-bottom: 1px solid #7344b0;}
.mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button {border-bottom: 1px solid #7344b0;}
.skype-bg{background: #7344b0;}
.view-all a:hover i{background: #7344b0;}
.readmore a:hover i{background: #7344b0;}
.Sine-Up button{background: #7344b0;}
.drak-singup button{background:#636a71;color:#7344b0;}
.footer-nav li a:hover{color: #7344b0;}
.social_sharenadea li:hover {background: #7344b0;}
.ftblog_head a:hover {color: #7344b0;}
.go-up:hover {background-color: #7344b0;}
.yellow-bg {background: #7344b0;}
.black-bg {background: #7344b0;}
.nd-featur-icon-holder{background:#7344b0;}
.drak-singup input{background:#7344b0;}
.servicesbox .boxIcon-bg{background#7344b0;}
.nvbule-bg {background: #7344b0;}
.exserboxsev .servicesbox .boxIcon-bg{background: #7344b0;}
.ndtmappleabout .button-ab:hover{background: #7344b0;}
.pro-count{color: #7344b0;}
.progress .progress-bar{background: #7344b0;}
.accordianShortCode .triggerRow > a.activeLine:before, .accordianShortCode .triggerRow > span.activeLine:before{background-color: #7344b0;}
.accordianShortCode .triggerRow > a:hover{color: #7344b0;}
/*-- Home Pages End --*/
.ndheaderv-1 .font-color {color: #7344b0;}
.headerStyle2 .mainNav .navTabs > li .active{background-color: #7344b0;}
.black-bg {background: #7344b0;}
.ndheaderv-1 .font-color {color: #7344b0;}
.ndheaderv-1 .footer-nav li a:hover {color: #7344b0;}
.headerStyle2 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: #7344b0;}
.ndheaderv-2 .font-color {color: #7344b0;}
.headerStyle3 .mainNav .navTabs > li .active{background-color: #7344b0;}
.headerStyle3 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: #7344b0;}
.headerStyle4 .font-color {color: #7344b0;}
.headerStyle4 .mainNav .navTabs > li .active{background-color: #7344b0;color:#fff;}
.headerStyle4 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: #7344b0;}
.ndheaderv-4 .font-color {color: #7344b0;}
.headerStyle5 .mainNav .navTabs > li .active{background-color: #7344b0;}
.headerStyle5 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: #7344b0;}
.ndheaderv-5 .font-color {color: #7344b0;}
.headerStyle6 .mainNav .navTabs > li .active{border-bottom: 1px solid #7344b0;}
.headerStyle6 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{border-bottom: 1px solid #7344b0;}
/*-- Header Vesion End --*/
.vwsky {color: #7344b0;}
.nderroecon{color: #7344b0;}
/*-- Feature Page end --*/
.ndprojectdt li a:hover {color: #7344b0;}
.tagsec li a:hover {background: #7344b0;}
.ndluch:hover {background: #7344b0;}
.ndporpagination .pager a:hover i {background: #7344b0;}
.widget .nd_tweets_widget li .ndtwitter a:hover {background-color: #7344b0;}
.ndwidget_categories li a:hover {color: #7344b0;}
.seclect-icon{background: #7344b0;}
.ndcontactfm input.submitBnt:hover {background: #7344b0;}
.ndcontactab .button-ab:hover{background: #7344b0;}
.icon-pin-addcon{background: #7344b0;}
.ndsocial-share ul li:hover{background:#7344b0;}