/* -- Base css
-------------------------------------- -- */

/* Classes for colors */

.color-palette-a {
    color: $color-palette-a;
}

.color-palette-b {
    color: $color-palette-b;
}

.color-palette-c {
    color: $color-palette-c;
}

/* Classes for background-color */

.theme-bg-a {
    background-color: $color-palette-a;
}

.theme-bg-b {
    background-color: $color-palette-b;
}

.theme-bg-c {
    background-color: $color-palette-c;
}

.theme-bg-d {
    background-color: $color-palette-d;
}

.typo-dark {
    color: $typo-dark;
}

.typo-light {
    color: $typo-light;
}

/* -- Common css -- */

html {
    font-size: 10px;
}

body {
    font-family: $primary-font;
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 300;
    color: $typo-light;
    word-break: break-word;
}

.container {
    max-width: 1200px;
}

section,
article,
aside,
main {
    position: relative;
}

.section-gap {
    padding: 80px 0;
}

.dark-grey-bg,
.theme-bg-d {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: #fff;
    }
}

.dark-grey-bg {
    background-color: $dark-grey-bg-color;
}

.light-grey-bg {
    background-color: $light-grey-bg-color;
}

.grey-bg {
    background-color: $grey-bg-color;
}

a,
button,
img,
a:focus,
button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

a,
button {
    transition: all .3s;
}

a:hover {
    color: $color-palette-c;
}

//Slick slider custom styles
.slick-track {
    display: flex;
    align-items: center;
}

.slick-dots {
    display: none !important;
}

.slick-arrow {
    width: 60px;
    height: 30px;
    display: block;
    top: auto;
    bottom: -78px;
    background-color: red;
    transition: all .3s;
    display: none !important;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: .5;
}

//Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    color: $typo-dark;
    font-weight: 700;
}

h1 {
    font-size: 4.8rem;
    line-height: 5.4rem;
    margin: .3rem 0 1.1rem;
}

.section-title {
    margin: .8rem 0 1.3rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 4.4rem;
}

h3 {
    font-size: 3rem;
    line-height: 3.6rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 2rem;
}

h6 {
    font-size: 1.6rem;
    line-height: 2rem;
}

p {
    margin-bottom: .6rem;
}

p.larger-txt {
    font-size: 2rem;
    line-height: 3.4rem;
}

p.smaller-txt {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.grid-wrapper {
    padding-top: 4rem;
    .custom-btn {
        margin: 3rem auto 1.5rem;
    }
}

.custom-btn {
    position: relative;
    display: inline-block;
    font-family: $primary-font;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $color-palette-c;
    border-radius: 4px;
    padding: 1.6rem 3rem 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    z-index: 1;
    transition: all .5s;
    &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, .2);
        border-radius: 4px;
        z-index: -1;
        transition: inherit;
    }
    &.secondary-btn {
        background-color: $color-palette-b;
    }
    &.btn-small {
        line-height: 2rem;
        padding: 1rem 2rem;
    }
    &:hover {
        text-decoration: none;
        color: #fff;
        &::after {
            height: 100%;
        }
    }
}

.hyperlink {
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-palette-c;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    &::after {
        content: " ";
        position: absolute;
        bottom: 20px;
        left: 1px;
        width: 100px;
        height: 10px;
        display: block;
        background-color: $color-palette-b;
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    &:hover {
        text-decoration: none;
        color: $color-palette-c;
        &::after {
            bottom: 0;
            opacity: .5;
        }
    }
}

.common-list{
    list-style: none;
    padding-left: 2.5rem;
    margin-bottom: 2.3rem;
    li{
        margin-bottom: .8rem;
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            top: 1.1rem;
            left: -2.5rem;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            display: block;
            background-color: $color-palette-c;
        }
    }
}

.privacy-terms-modal{
    .modal-body{
        img{
            margin-top: 3.5rem;
        }
    }
}