/* -- Features css
-------------------------------- -- */

.features-grid {
    padding-bottom: 9.5rem;
    .img-container {
        position: relative;
    }
}

.features-content .hyperlink {
    display: inline-block;
    margin-top: 1.9rem;
}

.feature-video-popup {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $color-palette-c;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
    &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        margin-left: 4px;
        border-top: 10px solid transparent;
        border-left: 20px solid #fff;
        border-bottom: 10px solid transparent;
    }
    &:hover {
        box-shadow: 0 5px 20px rgba(156, 185, 226, 1);
    }
}