/* -- Footer css
------------------------------------- -- */
.page-footer{
    padding: 5.6rem 0 5.2rem;
    background-color: $border-color;
    a{
        white-space: nowrap;
        color: $typo-light;
        text-decoration: none;
        &:hover{
            color: $color-palette-b;
        }
    }
    .social-icons{
        padding-left: 0;
        margin: 0 0 .6rem;
        a{
            &:hover{
                color: $color-palette-c;
            }
        }
    }
}