/* -- Newsletter style
------------------------------ -- */

.newsletter-form {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2.5rem 0 1.5rem;
    .custom-btn {
        width: 100%;
        padding: 1.3rem 3rem 1.2rem;
    }
}

.social-icons-wrapper {
    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #9cb9e2;
        font-weight: 700;
        margin: 1.5rem 0 1rem;
    }
}

.social-icons {
    padding-left: 2rem;
    margin: 1.5rem 0 .8rem;
    li {
        display: inline-block;
        margin-right: 10px;
        a {
            color: #9cb9e2;
            &:hover {
                color: #fff;
            }
        }
    }
}