/* -- Projects css
----------------------------------- -- */

.projects {
    background-image: url(../images/banner/inner-section-bg-right.png);
    background-position: right bottom;
    background-size: auto;
    background-repeat: no-repeat;
}

.tab-pane {
    width: 100% !important;
    position: relative;
    .col-slider-2 {
        width: 20%;
    }
}

.project-showcase {
    .btn-filter-wrap {
        text-align: center;
    }
    .owl-nav {
        text-align: center;
        button {
            span {
                display: none;
            }
            &::after {
                content: " ";
                font-family: 'miniline' !important;
                font-size: 50px;
                color: #fff;
                text-shadow: 0 5px 50px rgba(0, 0, 0, 1);
            }
            &.owl-prev::after {
                content: "\f17f";
            }
            &.owl-next::after {
                content: "\f180";
            }
        }
    }
}

.owl-carousel {
    transition: height 1s !important;
}

.owl-carousel .owl-dots {
    text-align: center;
    display: none;
}

.owl-carousel {
    .owl-nav {
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            left: 8rem;
            opacity: 0;
        }
        .owl-next {
            left: auto;
            right: 8rem;
        }
    }
    &:hover {
        .owl-prev,
        .owl-next {
            opacity: 1;
        }
    }
}

.owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    background: $color-palette-c;
    display: block;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: 15px 5px;
    opacity: .5;
    &.active {
        opacity: 1;
    }
}

.owl-carousel {
    .owl-item {
        .item {
            padding: 0 2rem;
        }
    }
    .img-card {
        max-width: 100%;
    }
}

.projects-carousel {
    .owl-stage-outer {
        text-align: center;
        .owl-stage {
            margin: 0 auto;
            text-align: center;
            display: inline-flex;
            width: auto !important;
            overflow: hidden;
        }
    }
}