/* -- Team css
----------------------------------- -- */

.img-card {
    display: block;
    overflow: hidden;
    border-radius: 5px;
    margin: 15px auto;
    max-width: 40rem;
    background-color: #fff;
    >img {
        width: 100%;
    }
    h4 {
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: $typo-light;
        font-weight: 300;
        padding: 2.2rem 15px 2.1rem;
        margin-bottom: 0;
        background: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        span {
            display: block;
            font-size: 2.4rem;
            line-height: 2.8rem;
            font-weight: 700;
            color: $typo-dark;
            margin-bottom: .3rem;
            transition: all .3s;
        }
    }
    p {
        color: $typo-light;
    }
    &:hover {
        text-decoration: none;
        box-shadow: 0 5px 30px rgba(156, 185, 226, .3);
        h4 span {
            color: $color-palette-c;
        }
    }
}

.team-modal .modal-dialog{
    max-width: 77rem;
}
.modal .modal-content{
    border: 1px solid $border-color;
    padding: 7rem 7rem 5.5rem;
    .close{
        position: absolute;
        right: 2rem;
        top: 2rem;
        color: $typo-light;
        &:hover{
            color: $color-palette-b;
        }
    }
}
.modal-title{
    h2{
        span{
            display: block;
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: 300;
            color: $typo-light;
            margin-bottom: .7rem;
        }
    }
    .custom-btn{
        margin-top: .5rem;
        margin-bottom: 5rem;
    }
}
.team-modal .modal-body{
    padding: 0;
    img{
        border-radius: 5px;
    }
    h4{
        margin: 2.2rem 0 2.1rem;
        span{
            display: block;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: $typo-light;
            font-weight: 300;
            margin-top: .3rem;
        }
    }
    .social-icons{
        max-width: 31rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        padding-top: 2.3rem;
        border-top: 1px solid $border-color;
        a{
            &:hover{
                color: $color-palette-c;
            }
        }
    }
}
.modal-header{
    border: none;
    padding: 0;
}
.modal-open .modal{
    background-color: $light-grey-bg-color;
    padding: 15px!important;
}
