a:hover, a:focus {color: #ff69b4;}
.font-color{color:#ff69b4;}
.mainNav .navTabs > li .active{border-bottom: 1px solid #ff69b4;}
.mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button {border-bottom: 1px solid #ff69b4;}
.skype-bg{background: #ff69b4;}
.view-all a:hover i{background: #ff69b4;}
.readmore a:hover i{background: #ff69b4;}
.Sine-Up button{background: #ff69b4;}
.drak-singup button{background:#636a71;color:#ff69b4;}
.footer-nav li a:hover{color: #ff69b4;}
.social_sharenadea li:hover {background: #ff69b4;}
.ftblog_head a:hover {color: #ff69b4;}
.go-up:hover {background-color: #ff69b4;}
.yellow-bg {background: #ff69b4;}
.black-bg {background: #ff69b4;}
.nd-featur-icon-holder{background:#ff69b4;}
.drak-singup input{background:#ff69b4;}
.servicesbox .boxIcon-bg{background#ff69b4;}
.nvbule-bg {background: #ff69b4;}
.exserboxsev .servicesbox .boxIcon-bg{background: #ff69b4;}
.ndtmappleabout .button-ab:hover{background: #ff69b4;}
.pro-count{color: #ff69b4;}
.progress .progress-bar{background: #ff69b4;}
.accordianShortCode .triggerRow > a.activeLine:before, .accordianShortCode .triggerRow > span.activeLine:before{background-color: #ff69b4;}
.accordianShortCode .triggerRow > a:hover{color: #ff69b4;}
/*-- Home Pages End --*/
.ndheaderv-1 .font-color {color: #ff69b4;}
.headerStyle2 .mainNav .navTabs > li .active{background-color: #ff69b4;}
.black-bg {background: #ff69b4;}
.ndheaderv-1 .font-color {color: #ff69b4;}
.ndheaderv-1 .footer-nav li a:hover {color: #ff69b4;}
.headerStyle2 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: #ff69b4;}
.ndheaderv-2 .font-color {color: #ff69b4;}
.headerStyle3 .mainNav .navTabs > li .active{background-color: #ff69b4;}
.headerStyle3 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: #ff69b4;}
.headerStyle4 .font-color {color: #ff69b4;}
.headerStyle4 .mainNav .navTabs > li .active{background-color: #ff69b4;color:#fff;}
.headerStyle4 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: #ff69b4;}
.ndheaderv-4 .font-color {color: #ff69b4;}
.headerStyle5 .mainNav .navTabs > li .active{background-color: #ff69b4;}
.headerStyle5 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{background-color: #ff69b4;}
.ndheaderv-5 .font-color {color: #ff69b4;}
.headerStyle6 .mainNav .navTabs > li .active{border-bottom: 1px solid #ff69b4;}
.headerStyle6 .mainNav .navTabs > li:hover > a, .mainNav .navTabs > li:hover > button{border-bottom: 1px solid #ff69b4;}
/*-- Header Vesion End --*/
.vwsky {color: #ff69b4;}
.nderroecon{color: #ff69b4;}
/*-- Feature Page end --*/
.ndprojectdt li a:hover {color: #ff69b4;}
.tagsec li a:hover {background: #ff69b4;}
.ndluch:hover {background: #ff69b4;}
.ndporpagination .pager a:hover i {background: #ff69b4;}
.widget .nd_tweets_widget li .ndtwitter a:hover {background-color: #ff69b4;}
.ndwidget_categories li a:hover {color: #ff69b4;}
.seclect-icon{background: #ff69b4;}
.ndcontactfm input.submitBnt:hover {background: #ff69b4;}
.ndcontactab .button-ab:hover{background: #ff69b4;}
.icon-pin-addcon{background: #ff69b4;}
.ndsocial-share ul li:hover{background:#ff69b4;}